In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

# Gathering data

In [2]:
url = 'https://www.boliga.dk/resultat?propertyType=3&zipCodes=2720'
r = requests.get(url)
content=r.content
soup=BeautifulSoup(content)

In [3]:
tag_list=soup.find("app-housing-list-results").find("div").find("div").next_sibling.find_all("app-housing-list-item")

In [16]:
data_list = []
for tag in tag_list:
    if tag.find("app-listing-information-hidden"):
        #print("skuffesag")
        continue
    address=tag.find("app-listing-information-lg").div.div.div.div.span.string
    #print(address)
    city=address.parent.next_sibling.string
    #print(city)
    price=tag.find("app-listing-information-lg").div.div.div.next_sibling.div.contents[1]
    #print(price)
    pricePerM2=price.parent.next_sibling.string
    #print(pricePerM2)
    daysPosted = tag.find("app-listing-information-lg").div.contents[3].div.div.contents[2].contents[3]
    daysPosted = str(daysPosted).extract(r'(\d+)')
    
    # appending data dictionnary to data_list. BeautifulSoup converts HTML non-breaking spaces (&nbsp) to \xa0 (unicode),
    # so we need to remove them.
    data_list.append({
        "address": str(address).replace(u'\xa0', u' '),
        "city": str(city).replace(u'\xa0', u' '),
        "price": str(price).replace(u'\xa0', u' '),
        "pricePerM2": str(pricePerM2).replace(u'\xa0', u' '),
        "datePosted": str(daysPosted).replace(u'\xa0', u' ')
    })

AttributeError: 'str' object has no attribute 'extract'

In [15]:
data_list

[{'address': 'Søndervigvej 134, 1. tv., ',
  'city': '2720 Vanløse',
  'price': ' 1.948.000 kr. ',
  'pricePerM2': ' 36.074 kr. / m² ',
  'datePosted': ' 2 dage på markedet '},
 {'address': 'Kirkebjerg Allé 47, ST. TV, ',
  'city': '2720 Vanløse',
  'price': ' 2.595.000 kr. ',
  'pricePerM2': ' 36.041 kr. / m² ',
  'datePosted': ' 2 dage på markedet '},
 {'address': 'Skjulhøj Allé 22E, ',
  'city': '2720 Vanløse',
  'price': ' 4.395.000 kr. ',
  'pricePerM2': ' 107.195 kr. / m² ',
  'datePosted': ' 2 dage på markedet '},
 {'address': 'Linde Allé 11, 3. Dør/lejl. 302, ',
  'city': '2720 Vanløse',
  'price': ' 2.195.000 kr. ',
  'pricePerM2': ' 44.795 kr. / m² ',
  'datePosted': ' 3 dage på markedet '},
 {'address': 'Markskellet 17  st. tv., ',
  'city': '2720 Vanløse',
  'price': ' 2.375.000 kr. ',
  'pricePerM2': ' 41.666 kr. / m² ',
  'datePosted': ' 3 dage på markedet '},
 {'address': 'Skjulhøj Allé 11, 1. th., ',
  'city': '2720 Vanløse',
  'price': ' 2.450.000 kr. ',
  'pricePerM2': ' 41.525 kr. / m² ',
  'datePosted': ' 4 dage på markedet '},
 {'address': 'Flakholmen 8, 3., ',
  'city': '2720 Vanløse',
  'price': ' 3.995.000 kr. ',
  'pricePerM2': ' 35.990 kr. / m² ',
  'datePosted': ' 4 dage på markedet '},
 {'address': 'Løvholmen 15, 1 10, ',
  'city': '2720 Vanløse',
  'price': ' 3.495.000 kr. ',
  'pricePerM2': ' 41.607 kr. / m² ',
  'datePosted': ' 5 dage på markedet '},
 {'address': 'Flakholmen 34, 2 tv, ',
  'city': '2720 Vanløse',
  'price': ' 2.895.000 kr. ',
  'pricePerM2': ' 45.234 kr. / m² ',
  'datePosted': ' 11 dage på markedet '},
 {'address': 'Sallingvej 61, st.. 3., ',
  'city': '2720 Vanløse',
  'price': ' 1.698.000 kr. ',
  'pricePerM2': ' 34.653 kr. / m² ',
  'datePosted': ' 12 dage på markedet '},
 {'address': 'Jyllingevej 7, 1. 1., ',
  'city': '2720 Vanløse',
  'price': ' 2.148.000 kr. ',
  'pricePerM2': ' 36.406 kr. / m² ',
  'datePosted': ' 12 dage på markedet '},
 {'address': 'Arnestedet 21, st. th., ',
  'city': '2720 Vanløse',
  'price': ' 2.985.000 kr. ',
  'pricePerM2': ' 51.465 kr. / m² ',
  'datePosted': ' 12 dage på markedet '},
 {'address': 'Himmerlandsvej 29, 2 th, ',
  'city': '2720 Vanløse',
  'price': ' 2.995.000 kr. ',
  'pricePerM2': ' 42.785 kr. / m² ',
  'datePosted': ' 12 dage på markedet '},
 {'address': 'Flakholmen 12, st tv, ',
  'city': '2720 Vanløse',
  'price': ' 2.498.000 kr. ',
  'pricePerM2': ' 39.031 kr. / m² ',
  'datePosted': ' 13 dage på markedet '},
 {'address': 'Byhøjen 1, 2 th, ',
  'city': '2720 Vanløse',
  'price': ' 2.250.000 kr. ',
  'pricePerM2': ' 40.909 kr. / m² ',
  'datePosted': ' 16 dage på markedet '},
 {'address': 'Ådalsvej 23A, st.. th., ',
  'city': '2720 Vanløse',
  'price': ' 2.098.000 kr. ',
  'pricePerM2': ' 39.584 kr. / m² ',
  'datePosted': ' 17 dage på markedet '},
 {'address': 'Nedertoften 17, ST. TH, ',
  'city': '2720 Vanløse',
  'price': ' 2.395.000 kr. ',
  'pricePerM2': ' 42.767 kr. / m² ',
  'datePosted': ' 17 dage på markedet '},
 {'address': 'Vinkelager 11, st th, ',
  'city': '2720 Vanløse',
  'price': ' 2.095.000 kr. ',
  'pricePerM2': ' 37.410 kr. / m² ',
  'datePosted': ' 19 dage på markedet '},
 {'address': 'Jernbane Allé 9A, 3. TH, ',
  'city': '2720 Vanløse',
  'price': ' 2.750.000 kr. ',
  'pricePerM2': ' 42.968 kr. / m² ',
  'datePosted': ' 24 dage på markedet '},
 {'address': 'Langdraget 19, st th, ',
  'city': '2720 Vanløse',
  'price': ' 2.048.000 kr. ',
  'pricePerM2': ' 40.156 kr. / m² ',
  'datePosted': ' 26 dage på markedet '},
 {'address': 'Jyllingevej 2, 1. tv., ',
  'city': '2720 Vanløse',
  'price': ' 5.650.000 kr. ',
  'pricePerM2': ' 36.217 kr. / m² ',
  'datePosted': ' 26 dage på markedet '},
 {'address': 'Flakholmen 12, 2. TH, ',
  'city': '2720 Vanløse',
  'price': ' 2.895.000 kr. ',
  'pricePerM2': ' 43.208 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Sallingvej 72  1. tv., ',
  'city': '2720 Vanløse',
  'price': ' 2.350.000 kr. ',
  'pricePerM2': ' 36.718 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Gudenåvej 20, 3 th, ',
  'city': '2720 Vanløse',
  'price': ' 2.898.000 kr. ',
  'pricePerM2': ' 45.281 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Himmerlandsvej 27, st tv, ',
  'city': '2720 Vanløse',
  'price': ' 3.198.000 kr. ',
  'pricePerM2': ' 42.640 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Himmerlandsvej 31, 1. tv., ',
  'city': '2720 Vanløse',
  'price': ' 2.895.000 kr. ',
  'pricePerM2': ' 41.357 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Bobakken 2  st. th., ',
  'city': '2720 Vanløse',
  'price': ' 3.150.000 kr. ',
  'pricePerM2': ' 37.058 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Ålekistevej 223, 2. th., ',
  'city': '2720 Vanløse',
  'price': ' 2.298.000 kr. ',
  'pricePerM2': ' 37.672 kr. / m² ',
  'datePosted': ' 1 måned på markedet '},
 {'address': 'Kirkebjerg Allé 42, ',
  'city': '2720 Vanløse',
  'price': ' 2.850.000 kr. ',
  'pricePerM2': ' 60.638 kr. / m² ',
  'datePosted': ' 2 måneder på markedet '},
 {'address': 'Godthåbsvej 241, st. tv., ',
  'city': '2720 Vanløse',
  'price': ' 4.995.000 kr. ',
  'pricePerM2': ' 52.031 kr. / m² ',
  'datePosted': ' 2 måneder på markedet '},
 {'address': 'Markskellet 13, 1. TV, ',
  'city': '2720 Vanløse',
  'price': ' 2.395.000 kr. ',
  'pricePerM2': ' 36.846 kr. / m² ',
  'datePosted': ' 2 måneder på markedet '},
 {'address': 'Slotsherrensvej 11, st.. th., ',
  'city': '2720 Vanløse',
  'price': ' 2.495.000 kr. ',
  'pricePerM2': ' 42.288 kr. / m² ',
  'datePosted': ' 3 måneder på markedet '},
 {'address': 'Markskellet 2, 3 tv, ',
  'city': '2720 Vanløse',
  'price': ' 4.595.000 kr. ',
  'pricePerM2': ' 33.540 kr. / m² ',
  'datePosted': ' 3 måneder på markedet '},
 {'address': 'Byhøjen 1, st.. tv., ',
  'city': '2720 Vanløse',
  'price': ' 2.495.000 kr. ',
  'pricePerM2': ' 39.603 kr. / m² ',
  'datePosted': ' 3 måneder på markedet '}]

In [9]:
df = pd.DataFrame(data_list)
df

,address,city,price,pricePerM2
0,"Søndervigvej 134, 1. tv.,",2720 Vanløse,1.948.000 kr.,36.074 kr. / m²
1,"Kirkebjerg Allé 47, ST. TV,",2720 Vanløse,2.595.000 kr.,36.041 kr. / m²
2,"Skjulhøj Allé 22E,",2720 Vanløse,4.395.000 kr.,107.195 kr. / m²
3,"Linde Allé 11, 3. Dør/lejl. 302,",2720 Vanløse,2.195.000 kr.,44.795 kr. / m²
4,"Markskellet 17 st. tv.,",2720 Vanløse,2.375.000 kr.,41.666 kr. / m²
5,"Skjulhøj Allé 11, 1. th.,",2720 Vanløse,2.450.000 kr.,41.525 kr. / m²
6,"Flakholmen 8, 3.,",2720 Vanløse,3.995.000 kr.,35.990 kr. / m²
7,"Løvholmen 15, 1 10,",2720 Vanløse,3.495.000 kr.,41.607 kr. / m²
8,"Flakholmen 34, 2 tv,",2720 Vanløse,2.895.000 kr.,45.234 kr. / m²
9,"Sallingvej 61, st.. 3.,",2720 Vanløse,1.698.000 kr.,34.653 kr. / m²
10,"Jyllingevej 7, 1. 1.,",2720 Vanløse,2.148.000 kr.,36.406 kr. / m²
11,"Arnestedet 21, st. th.,",2720 Vanløse,2.985.000 kr.,51.465 kr. / m²
12,"Himmerlandsvej 29, 2 th,",2720 Vanløse,2.995.000 kr.,42.785 kr. / m²
13,"Flakholmen 12, st tv,",2720 Vanløse,2.498.000 kr.,39.031 kr. / m²
14,"Byhøjen 1, 2 th,",2720 Vanløse,2.250.000 kr.,40.909 kr. / m²
15,"Ådalsvej 23A, st.. th.,",2720 Vanløse,2.098.000 kr.,39.584 kr. / m²
16,"Nedertoften 17, ST. TH,",2720 Vanløse,2.395.000 kr.,42.767 kr. / m²
17,"Vinkelager 11, st th,",2720 Vanløse,2.095.000 kr.,37.410 kr. / m²
18,"Jernbane Allé 9A, 3. TH,",2720 Vanløse,2.750.000 kr.,42.968 kr. / m²
19,"Langdraget 19, st th,",2720 Vanløse,2.048.000 kr.,40.156 kr. / m²
20,"Jyllingevej 2, 1. tv.,",2720 Vanløse,5.650.000 kr.,36.217 kr. / m²
21,"Flakholmen 12, 2. TH,",2720 Vanløse,2.895.000 kr.,43.208 kr. / m²
22,"Sallingvej 72 1. tv.,",2720 Vanløse,2.350.000 kr.,36.718 kr. / m²
23,"Gudenåvej 20, 3 th,",2720 Vanløse,2.898.000 kr.,45.281 kr. / m²
24,"Himmerlandsvej 27, st tv,",2720 Vanløse,3.198.000 kr.,42.640 kr. / m²
25,"Himmerlandsvej 31, 1. tv.,",2720 Vanløse,2.895.000 kr.,41.357 kr. / m²
26,"Bobakken 2 st. th.,",2720 Vanløse,3.150.000 kr.,37.058 kr. / m²
27,"Ålekistevej 223, 2. th.,",2720 Vanløse,2.298.000 kr.,37.672 kr. / m²
28,"Kirkebjerg Allé 42,",2720 Vanløse,2.850.000 kr.,60.638 kr. / m²
29,"Godthåbsvej 241, st. tv.,",2720 Vanløse,4.995.000 kr.,52.031 kr. / m²
30,"Markskellet 13, 1. TV,",2720 Vanløse,2.395.000 kr.,36.846 kr. / m²
31,"Slotsherrensvej 11, st.. th.,",2720 Vanløse,2.495.000 kr.,42.288 kr. / m²
32,"Markskellet 2, 3 tv,",2720 Vanløse,4.595.000 kr.,33.540 kr. / m²
33,"Byhøjen 1, st.. tv.,",2720 Vanløse,2.495.000 kr.,39.603 kr. / m²

# Cleaning data